{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet"type="text/css" href="{%static 'css/main.css'%}"/>
    <title> PLAGIARISM CHECKRISTA</title>
</head>
<body>
<h1>  PLAGIARISM CHECKERISTA </h1>
<h2> HI WELCOME TO CHECKERISTA </h2><br>


<form>
    Enter Your text here:
    Enter Your text here:<br>
    <input type="text" name =" texthere ">

    <input type ="text" name = "texthere2"><br>
     Enter url here:<br>
    <input type="text"name="url1">
    Enter your url here:<br>
    <input type="text"name="url2"><br>



       <!-- action="/addtext/" method="post"> {% csrf_token %}
    <input type="text" name="Content"/>
    <input type="submit" name="ADD"/>
</form>
</body>
</html>-->
<!-- <h3> Enter url here </h3>
<form action="/addtext/" method="post"> {% csrf_token %}
    <input type="url" name="Content"/>
      <input type="submit" name="ADD"/>
</form> -->
